@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.App {
  min-height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.mainAppContainer {
  width: 90vw;
}

.legendItemText {
  font-size: 0.8rem;
}

.legendItemText i {
  font-size: 0.4rem;
}
.tableContainer {
  width: 90vw;
  margin: auto;
}

tbody {
  font-size: 0.8rem;
  color: #292b2c;
}
.customTableHead {
  background-color: #f7f7f7;
  color: darkgray;
  font-size: 0.7rem;
}

.reportItemContainer i {
  font-size: 1.3rem;
}